.container-main {
  height: 100vh;
  align-items: center;
  padding-top: 100px;
}

.container-results {
  width: 100%;
  padding: 7% 6%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-auto-rows: auto;
  grid-gap: 3rem 1rem;
  @media only screen and(max-width: 768px) {
    grid-template-columns: repeat(2, 3fr);
    grid-auto-rows: auto;
    grid-gap: 3rem 1rem;
  }
  @media only screen and(max-width: 500px) {
    grid-template-columns: repeat(1, 3fr);
    grid-auto-rows: auto;
    grid-gap: 3rem 1rem;
  }
}

.loading {
  margin-top: 40px;
}
